/* Common stuff */
.picker-wrapper, .slide-wrapper, .alpha-wrapper {
    position: relative;
    float: left;
}
.picker-indicator, .slide-indicator, .alpha-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.picker, .slide, .alpha {
    cursor: crosshair;
    float: left;
}

.cp-normal {
    z-index: 1000;
    padding: 10px;
    margin: 2px 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.cp-normal .picker {
    width: 150px;
    height: 150px;
}
.cp-normal .slide, .cp-normal .alpha {
    width: 20px;
    height: 150px;
    
    background: white;
    background: 
        linear-gradient(135deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 0 0,
        linear-gradient(-45deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 5px 5px,
        linear-gradient(135deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 5px 5px,
        linear-gradient(-45deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 0 0,
        white;
    background-size: 10px 10px;
}
.cp-normal .slide-wrapper, .cp-normal .alpha-wrapper {
    margin-left: 10px;
}
.cp-normal .picker-indicator {
    width: 5px;
    height: 5px;
    border: 1px solid gray;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    background-color: white;
    pointer-events: none;
}
.cp-normal .slide-indicator, .cp-normal .alpha-indicator {
    width: 100%;
    height: 10px;
  
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid gray;
    background-color: white;
    pointer-events: none;
}

x-colorpicker .x-colorpicker-holder { position:relative; }
x-colorpicker .x-colorpicker { position:absolute; }
x-colorpicker .x-colorpicker-color { background: transparent; }
x-colorpicker .input-group { 
    background: white;
    background: 
        linear-gradient(135deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 0 0,
        linear-gradient(-45deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 5px 5px,
        linear-gradient(135deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 5px 5px,
        linear-gradient(-45deg, transparent 75%, rgba(55, 55, 55, .4) 0%) 0 0,
        white;
    background-size: 10px 10px;
    border-radius: 4px;
}
